<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>删除用户</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>


</head>
<body class="aboutManage">

<style type="text/css">
    .form {
        padding: 0px auto;
    }
    p{
        width: 50%;
        margin: 10px auto;
    }

    .center{
        text-align: center;
    }
</style>


<div class="marg">
    <div class="container">
        <div class="row">
            <div class="template">
                <h4><a href="/manageGoMain">回到管理主页>></a></h4>
            </div>

            <div th:each="user : ${users}" class="template">
                <h4 th:text="${'ID:'+user.id}"></h4>
                <h4 th:text="${'USERNAME:'+user.username}"></h4>
                <h4 th:text="${'PSAAWORD:'+user.password}"></h4>
                <h4><a th:href="${'/manageDoDeleteUser?id=' + user.id }">删除用户及其文章和链接</a></h4>

            </div>

        </div>

    </div>
</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>