<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>管理主页-听友网</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>


</head>
<body class="aboutManage">

<style type="text/css">
    .form {
        padding: 0px auto;
    }
    p{
        width: 50%;
        margin: 10px auto;
    }

    .center{
        text-align: center;
    }
</style>


<div class="marg">
    <div class="container">
        <div class="row">
            <div class="template center">
                <h3>管理主页</h3>
            </div>

            <div class="template">
                <h4><a href="manageDeleteArticle">>> 删除文章</a></h4>
            </div>
            <div class="template">
                <h4><a href="manageDeleteUser">>> 删除用户</a></h4>
            </div>
            <div class="template">
                <h4><a href="manageBackup">>> 备份网站图片</a></h4>
            </div>
            <div class="template">
                <h4><a href="manageGetAbout">>> 管理关于</a></h4>
            </div>
            <div class="template">
                <h4><a href="showIpRecord">>> 查看访问记录</a></h4>
            </div>
        </div>

    </div>
</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>