<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>管理关于</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>


</head>
<body class="aboutManage">

<style type="text/css">

</style>


<div class="marg">
    <div class="container">
        <div class="row">
            <div class="template">
                <h4><a href="/manageGoMain">回到管理主页>></a></h4>
            </div>
            <div class="template">
                <h4><a href="/manageAddAbout">>> 新建</a></h4>
            </div>
            <div th:each="about : ${abouts}" class="template">
                <h5>
                    <a th:href="${'/maangeDoDeleteAbout?id='+about.id}" >删除</a>
                    <a th:href="${'/manageUpdateAbout?id='+about.id}" >修改</a>
                </h5>
                <h4 th:text="${about.title}"></h4>
                <p class="linefeed" th:text="${about.content}"></p>
            </div>

        </div>

    </div>
</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>