<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>修改-听友网</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>

</head>
<body class="aboutManage">
<style type="text/css">
    .responsive {
        width: 100%;
        height: 300px;
    }
</style>

<div class="container marg">
    <div class="row">
        <div class="template">
            <form action="/manageDoUpdateAbout" method="post" >
                <input type="text" name="id" th:value="${about.id}" class="hidden"> </input>

                <p> 题目:<input type="text" name="title" th:value="${about.title}"> </input> </p>

                <p> 内容:<textarea class="responsive" name="content" id="content" th:text="${about.content}"></textarea></p>

                <input type="submit" value="保存修改"/>
            </form>



        </div>

    </div>

</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

<!--<script type="text/javascript">-->
<!--$(document).ready(function () {-->
<!--var reader = new FileReader();-->
<!--$("#image").change(function () {-->
<!--var file = this.files[0];-->

<!--reader.readAsBinaryString(file);-->

<!--alert(reader.Result);-->

<!--})-->

<!--$("#add").click(function () {-->
<!--$.ajax({url:"/pushImage",context: ,success:function(Result){-->
<!--$("#content").append(Result);-->
<!--}});-->
<!--// var file = $("#image").file.name;-->
<!--//-->
<!--//-->
<!--//     alert(file);-->


<!--//alert("lijian");-->
<!--});-->
<!--});-->
<!--</script>-->
</body>
</html>