<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title th:text="${user.username}"></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>


</head>
<body class="about">

<nav class="nav navbar-default navbar-fixed-top" id="mynav">
    <div class="navbar-header">
        <button class="btn navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="user">
            <a href="/showUser">
                <h4>
                    <span class="glyphicon glyphicon-user">&thinsp;</span>
                    <span th:text="${user.username}"></span>
                </h4>
            </a>
        </div>

    </div>
    <ul class="collapse nav navbar-collapse navbar-nav"  id="menu" >
        <li><a href="/">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>首页</h4>
        </a></li>
        <li><a href="/getLogin">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>登录</h4>
        </a></li>
        <li><a href="/registerUser">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>注册</h4>
        </a></li>

    </ul>
</nav>
<div class="container marg">
    <div class="row">
        <div class="template">

            <a href="/addArticle"><h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;写文章</h4></a>
        </div>
        <div class="template">
            <a href="/addLink"><h4><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;分享链接</h4></a>
        </div>
        <div class="template">
            <a href="/showMyComments"><h4 th:text="${user.username}+' 的留言'"></h4></a>
        </div>
        <div class="template">
            <a href="/showMyArticles"><h4 th:text="${user.username}+' 整理或原创的文章'"></h4></a>
        </div>
        <div class="template">
            <a href="/showMyLinks"><h4 th:text="${user.username}+' 分享的链接'"></h4></a>
        </div>

    </div>
</div>



<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>