<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>分享链接</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/public.css"/>


</head>
<body class="about">
<style type="text/css">
    .responsive {
        width: 100%;
        height: 300px;
    }
</style>
<nav class="nav navbar-default navbar-fixed-top" id="mynav">
    <div class="navbar-header">
        <button class="btn navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="user"><a href="/showUser"><h4><span class="glyphicon glyphicon-user">&thinsp;</span><span th:text="${user.username}"></span></h4></a></div>

    </div>
    <ul class="collapse nav navbar-collapse navbar-nav"  id="menu" >
        <li><a href="/">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>首页</h4>
        </a></li>
        <li><a href="/getLogin">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>登录</h4>
        </a></li>
        <li><a href="/registerUser">
            <!--<span class="glyphicon glyphicon-home"></span>-->
            <h4>注册</h4>
        </a></li>

    </ul>
</nav>
<div class="container marg">
    <div class="row">
        <div class="template">
            <form action="/createLink" method="post" enctype="multipart/form-data">
                <p> 链接:<input type="text" name="link" > </input> </p>

                <p> 为该链接添加描述:<textarea class="responsive" name="content" id="content"></textarea></p>

                <input  type="submit" value="分享"/>
            </form>
        </div>

    </div>
</div>



<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>